.wrapper {
    height: 600px;
    background-color: black;
    text-align: center;
    vertical-align: 100px;
    background-size: 100%;
}

.center_box {
    height: 130px;
    width: 250px;
    background-color: lightgrey;
    opacity: 0.75;
    border: solid 5px grey;
    display: inline-block;
    top: 100px;
    position: relative;
    border-radius: 12px;
}

.center_box button {
    display: inline-block;
    width: 75px;
    height: 25px;
    border-radius: 4px;
    background-color: white;
    opacity: 1;
}

.show {
    height: 130px;
    width: 250px;
    background-color: lightgrey;
    opacity: 0.75;
    border: solid 5px grey;
    display: inline-block;
    top: 100px;
    position: relative;
    border-radius: 12px;
    text-align: center;
}

h2 {
    text-shadow: 2px 2px white;
    color: orange;
}

.hidden {
    display: none;
}

.left_player {
    position: relative;
    width: 130px;
    height: 180px;
    left: 300px;
    bottom: 182px;
    background-size: 100%;
}

.right_player {
    position: relative;
    background-size: 100%;
    width: 130px;
    height: 180px;
    left: 900px;
    bottom: 362px;
}